body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 80px;
}

.headers {
  margin-top: 48px;
  margin-bottom: 48px;
}

.header {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 42px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.subheader {
  color: #7D7D7D;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.posts {
  margin-top: 48px;
  margin-bottom: 48px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF5E5E !important;
}

hr {
  height: 1px;
  border: none;
  background-color: #E9E9E9;
}

.post-title {
  margin-bottom: 16px;
  color: black;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
}

.post-title:hover {
  color: #FF5E5E;
}

.post-date {
  margin-bottom: 16px;
  color: #D0D0D0;
  text-decoration: none !important;
  font-weight: 400;
  font-size: 16px;
  margin-left: 12px;
}

.footer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.footer > p {
  color: #7D7D7D;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
}

.post-container {
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 600px;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.back-link, .back-link>a {
  margin-bottom: 16px;
  font-size: 14px;
  color: #7D7D7D;
}
