<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700&display=swap" rel="stylesheet">
  <title>{{ site.title }}</title>
  <style>
    {% include style.css %}
  </style>
</head>
<body>
  <div class="container">
    <div class="headers">
      <h1 class="header">Hi, I'm Justin Potts</h1>
      <p class="subheader">And this is some of my writing</p>
    </div>
    <hr/>
    <div class="posts">
      {% for post in site.posts %}
      <div class="post">
       <a href="{{post.url}}">
         <span class="post-title">{{ post.title }}</span> <span class="post-date">{{ post.current-date }}</span>
       </a>
      </div>
    </div>
    {% endfor %}
    <hr/>
    <div class="footer">
      <p>I'm the co-founder of <a href="https://avenify.com">Avenify</a>, an alternative to student loans. You can find me on Twitter at <a href="https://twitter.com/PottsJustin">@PottsJustin</a>. DMs are open.</p>
      <p>Written and designed with ❤️ from Brooklyn, New York.</p>
      <p><a href="#">Turn the lights off</a></p>
    </div>
  </div>
</body>
</html>
