<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Primary Meta Tags -->
  <title>Justin Potts - Writing</title>
  <meta name="title" content="Justin Potts - Writing">
  <meta name="description" content="Hi, I'm Justin! This is where I post my thoughts and reflections on startups, tech, design, and more.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://justinpotts.co">
  <meta property="og:title" content="Justin Potts - Writing">
  <meta property="og:description" content="Hi, I'm Justin! This is where I post my thoughts and reflections on startups, tech, design, and more.">
  <meta property="og:image" content="https://justinpotts.co/assets/cover.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://justinpotts.co">
  <meta property="twitter:title" content="Justin Potts - Writing">
  <meta property="twitter:description" content="Hi, I'm Justin! This is where I post my thoughts and reflections on startups, tech, design, and more.">
  <meta property="twitter:image" content="https://justinpotts.co/assets/cover.png">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:700&display=swap" rel="stylesheet">
  <style>
    {% include style.css %}
  </style>
</head>
<body>
  <div class="container">
    <div class="headers">
      <h1 class="header">Hi, I'm Justin Potts</h1>
      <p class="subheader">And this is some of my writing</p>
    </div>
    <hr/>
    <div class="posts">
      {% for post in site.posts %}
      <div class="post">
       <a href="{{post.url}}">
         <span class="post-title">{{ post.title }}</span> <span class="post-date">{{ post.current-date }}</span>
       </a>
      </div>
      {% endfor %}
    </div>
    <hr/>
    <div class="footer">
      <p>I'm the co-founder of <a href="https://avenify.com">Avenify</a>, an alternative to student loans. You can find me on Twitter at <a href="https://twitter.com/PottsJustin">@PottsJustin</a>. DMs are open.</p>
      <p>Written and designed with ❤️ from Brooklyn, New York.</p>
      <p><a href="#">Turn the lights off</a></p>
    </div>
  </div>
</body>
</html>
